@model IEnumerable<moment2dotnet.Models.Treats>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >Välkommen</h1>
    <p>Här finns lite omdömmen på fikabröd:</p>

    <div id="fika-container">
        @foreach(var treat in Model) {
            <article>
                <h3>@treat.name</h3>
                <b>@treat.score</b>
                <p>@treat.comment</p>
            </article>
        }

    </div>

</div>
