@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Info";

}
<h1>Info om sidan</h1>

<article>
    Denna sida är skapad med ASP.NET CORE MVC. Texten nedan är skickad med hjälp av ViewData från Controllern. 
</article>
<br>
<b>@ViewData["Info"]</b>

<h2>Favorit fika inläst sessionstorage:</h2>
<b>@ViewBag.Fave</b>
